<h2>Upload a New Document</h2>

<%= form_for @document do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %> <br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :asset, 'Attachment' %> <br/>
    <%= f.file_field :asset %>
  </p>
  <%= f.submit "Upload Document" %>

<% end %>
