<h2>Upload a New Document</h2>

<%= form_for @document do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %> <br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :asset, 'Attachment' %> <br/>
    <%= f.file_field :asset %>
  </p>
  <%= f.submit "Upload Document" %>
  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%;"></div></div>
    </div>
  </script>

<% end %>
